.container{
    width: 300px;
    height:400px;
    background-color: pink;
    border-radius: 5%;
}
.card{
    width:300px;
    height:100px;
    margin-top: 10%;
    background-color: aquamarine;
    
   
}
#img{
    margin-top: 13%;
    margin-left: 30%;
    height: 100px;
    border-radius: 50%; 
        
}
.details{
    width: 100%;
    height: 100%;
    
}
#name,#email{
   margin-top: 15%;
   margin-left: 16%;
}
#email{
    margin-top: 3%;
    margin-left: 25%;
}

.repo{
    width: 80%;
    height: 70px;
    margin-left: 10%;
    display: flex;
    border-radius: 2%;
    gap: 10%;
    align-items: center;
    justify-content: center;
    
}
.repo p {
    margin: 0;              
}
